.git
.gitignore
.cursor
.vscode
.idea

vendor
node_modules

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*

.env
.env.*

tests
docs
cursor

coverage
.phpunit.cache
.phpunit.result.cache

README.md
database_design.md
